<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Boss Fighters, <%= @user.email %> !</h1>
    <p>
      Votre compte a été créé avec succès.
    </p>
    <p>
      Pour accéder à votre espace de jeu, connectez-vous via : <%= @url %>
    </p>
    <p>
      Préparez-vous pour des combats épiques !
    </p>
    <p>L'équipe Boss Fighters</p>
  </body>
</html>
